@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
@font-face {
  font-family: 'Marvin Visions Variable';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/MarvinVisionsTrial-Variable.ttf");
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('../Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic OTF';
    src: url('../font/NEXON Lv2 Gothic OTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Maplestory Bold';
    src: url('../font/Maplestory Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic OTF Medium';
    src: url('../font/NEXON Lv2 Gothic OTF Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquare';
    src: local('font/NanumSquare'),
        url('../font/NanumSquareR.ttf'),
        url('../font/NanumSquareR.eot'),
        url('../font/NanumSquareR.woff');
}
@font-face {
    font-family: 'NanumSquareL';
    src: url('../font/NanumSquareL.ttf'),
        url('../font/NanumSquareL.eot'),
        url('../font/NanumSquareL.woff');
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('../font/NanumSquareB.ttf'),
        url('../font/NanumSquareB.eot'),
        url('../font/NanumSquareB.woff');
}
@font-face {
    font-family: 'NanumSquareEB';
    src: url('../font/NanumSquareEB.ttf'),
        url('../font/NanumSquareEB.eot'),
        url('../font/NanumSquareEB.woff');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
.cb{clear:both;}
.cb:after{content:"";clear:both;display:block;}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after { content:''; display:block; clear:both;}
img {vertical-align:top;}
p{
    font-family: 'NanumSquareB';
}
/* TYPOGRAPHY */
* {
	-webkit-font-smoothing: antialiased;
}
body{
	font-family: 'NanumSquareEB';
}
/*
h1,h2,h3,h4,h5,h6 {
	font-family:"Raleway", sans-serif;
}
*/
.content_tt { font-size:4vh; font-weight:600; color:#555; text-align:center;}
.content_desc {    font-size: 21px; font-weight:300; color:#8c8c8c; width:65%; margin:23px auto 33px; text-align:center; }
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }
/* LAYOUT */
/*.container { width:1170px; margin: 0 auto;}*/

/* COMMON ELEMONTS */
.container {
    width: 100%;
    min-width: 1180px;
/*    overflow: hidden;*/
    position: relative;
    height: auto;
}
.btn4{
	background:#8339f2;
	padding:0 29px;
	line-height:50px;
	text-transform:uppercase;
	font-weight:bold;
	display:inline-block;
	border-radius:3px;
	color:#fff;
	text-decoration:none;
	position:relative;
	box-shadow:inset 0 -3px #736357;
}
.btn {
/*    padding: 20px 61px;*/
    transition: .5s;
    box-shadow: 0px 0px 0px inset #eee;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
}

.btn:hover {
    box-shadow: 210px 0px 0px inset rgba(4, 4, 68, 1);
    transition: .5s;
    color: #fff;
}
/* scroll down */
.scroll_line {
    display: block;
    width: 2px;
    height: 13vh;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    opacity: 1;
}

.scroll_line:before {
    height: 100%;
    background: #fff;
    opacity: .2;
    left: 0;
    top: 0;
    bottom: 0;
    content: '';
    position: absolute;
    width: 2px;
}

.scroll_line:after {
    background: #fff;
    left: 0;
    top: 0;
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    animation-name: scroll-down-line;
    animation-duration: 2.6s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.77, 0, .175, 1);
}

.scroll_line.black:before {
    background: #111;
}

.scroll_line.black:after {
    background: #333;
}
/*scrollbar*/
.scrollbar {
  background-color: cadetblue;
  height: 2px;
  width: 0;
  transition: all 0.8s linear;
  position: sticky;
  top: 0;
}
@-webkit-keyframes scroll-down-line {
    0% {
        transform-origin: 50% 100%;
        transform: scaleY(1);
    }

    50% {
        transform-origin: 50% 100%;
        transform: scaleY(0);
    }

    50.0001% {
        transform-origin: 50% 0;
        transform: scaleY(0);
    }

    to {
        transform-origin: 50% 0;
        transform: scaleY(1);
    }
}

@keyframes scroll-down-line {
    0% {
        transform-origin: 50% 100%;
        transform: scaleY(1);
    }

    50% {
        transform-origin: 50% 100%;
        transform: scaleY(0);
    }

    50.0001% {
        transform-origin: 50% 0;
        transform: scaleY(0);
    }

    to {
        transform-origin: 50% 0;
        transform: scaleY(1);
    }
}
.text,
.text1 {
    color: transparent;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: 1s;
}
.text.reveal {
    color: #fff;
    animation: revealTextAnimation 1s ease forwards;
}

.text1.reveal
{
    color: #000;
    animation: revealTextAnimation 1s ease forwards;
}

.text:before,
.text1:before
{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.text.reveal:before {
    background: #eee;
    animation: blockRevealAnimation 1.2s ease forwards;
}

.text1.reveal:before {
    background: #eee;
    animation: blockRevealAnimation 1.2s ease forwards;
}
@keyframes blockRevealAnimation {
    0% {
        left: -100%;
    }

    40% {
        left: 0;
    }

    60% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@keyframes revealTextAnimation {
    0% {
        color: transparent;
    }

    40% {
        color: transparent;
    }

    60% {
        color: #333;
    }
}
@media all and (max-width:1280px) {
    .container{
        min-width: auto;
    }
}




