.conimg {
    width: 100%;
    height: 133vh;
    position: relative;
    background: url(../img/i2.png)0 30% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.conimg:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 500px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) -30%, rgba(0, 0, 0, 0));
    z-index: 3;
}

.conimg:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 500px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1));
    z-index: 3;
}

.vcz {
    width: 100%;
    height: 100%;
    position: absolute;

}

.vcz img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.logo_g {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;

}

.logo_g img {
    width: auto;
    height: 300px;
}

/* scroll down */
.scroll_line1 {
    display: block;
    width: 2px;
    height: 13vh;
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    opacity: 1;
}

.scroll_line1:before {
    height: 100%;
    background: #fff;
    opacity: .2;
    left: 0;
    top: 0;
    bottom: 0;
    content: '';
    position: absolute;
    width: 2px;
}

.scroll_line1:after {
    background: #fff;
    left: 0;
    top: 0;
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    animation-name: scroll-down-line;
    animation-duration: 2.6s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.77, 0, .175, 1);
}

.scroll_line1.black:before {
    background: #111;
}

.scroll_line1.black:after {
    background: #333;
}

@-webkit-keyframes scroll-down-line {
    0% {
        transform-origin: 50% 100%;
        transform: scaleY(1);
    }

    50% {
        transform-origin: 50% 100%;
        transform: scaleY(0);
    }

    50.0001% {
        transform-origin: 50% 0;
        transform: scaleY(0);
    }

    to {
        transform-origin: 50% 0;
        transform: scaleY(1);
    }
}

@keyframes scroll-down-line {
    0% {
        transform-origin: 50% 100%;
        transform: scaleY(1);
    }

    50% {
        transform-origin: 50% 100%;
        transform: scaleY(0);
    }

    50.0001% {
        transform-origin: 50% 0;
        transform: scaleY(0);
    }

    to {
        transform-origin: 50% 0;
        transform: scaleY(1);
    }
}

.container {
    width: 100%;
    height: auto;
    position: relative;
    min-width: 1180px;
    _overflow: hidden;
    margin: 0 auto;
}
.con{
    overflow: hidden;
}
.section1 {
    position: relative;
    min-width: 1180px;
    width: 100%;
    height: 140vh;
}

.section1:before {
    background: url(../img/bg-top-grad.png)repeat-x;
    width: 100%;
    min-width: 1180px;
    height: 2730px;
    position: absolute;
    left: 0;
    right: 0;
    content: "";
    top: -509px;
}

.textbxbx {
    padding: 0 10vw;
    text-align: left;
    min-width: 1180px;
    position: absolute;
    top: 150px;
}

.textbxbx1 {
    padding: 0 10vw;
    text-align: right;
    min-width: 1180px;
    position: absolute;
    top: 150px;
    right: 0;
}

.textbxbx h2 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'NEXON Lv2 Gothic OTF';
    font-weight: bold;
    letter-spacing: 1px;
    color: #0965bc;
}

.bar {
    width: 1px;
    height: 100px;
    background: #424448;
    margin-top: 44px;
    margin-bottom: 40px;
    margin-left: 4px;
}

.textbxbx h1,
.textbxbx1 h1 {
    font-size: 50px;
    color: #fff;
    line-height: 70px;
}

.textbxbx p,
.textbxbx1 p {
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    padding-top: 20px;
}

.section2 {
    width: 100%;
    height: 128vh;
    position: relative;
}

.section2 .se2img {
    background: url(../img/Ark04.png)0 50% no-repeat;
    background-size: cover;
    height: 128vh;
    filter: brightness(50%);
    background-attachment: fixed;
}

.section3 {
    width: 100%;
    height: 130vh;
    margin-top: -38px;
    position: relative;
}

.section3 video {
    width: 100%;
}

.se3img {
    background: url(../img/blackma.jpg)0 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 130vh;
    filter: brightness(65%);
}

.section4 {
    width: 100%;
    height: auto;
    position: relative;
    background: #060a15;
/*    min-width: 1180px;*/
}
.section4:before{
    content: "";
    clear: both;
    display: block;
}
/*
.section4:before {
    background: url(../img/bg-top-grad.png)repeat-x;
    height: 1000vh;
    position: absolute;
    left: 0;
    right: 0;
    content: "";
    top: -509px;
}
*/

.center {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 1%;
    transform: translate(-50%, -50%);
}

.se4 {
    padding-top: 200px;
    margin: 0 auto;
}

.episode {
    display: grid;
    grid-template-columns: 2fr 2fr;
    position: relative;
}

.episode p {
    margin: 0 0 13px 0;
    color: rgb(102, 102, 102);
}

.episode__number {
    color: #003569;
    font-size: 8vw;
    font-weight: 600;
    padding: 71px 0;
    position: sticky;
    top: 0;
    text-align: center;
    height: calc(10vw + 20px);
    transition: all 0.2s ease-in;
}

.episode__content {
    border-top: 2px solid #eee;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-gap: 10px;
    padding: 150px 0;
}

.episode:first-child .episode__content {
    border: none;
}

.episode__content .title {
    font-weight: 600;
    line-height: 3;
}

.episode__content .story {
    line-height: 59px;
}

.episode__content .story span {
    color: #eee;
    font-size: 2.5vh
}

.section5 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.se5 {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, .7);
    overflow: hidden;
}

.section5:before {
    background: url(../img/df_m.jpg) 51% 41% repeat-x;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    content: "";
    top: 0;
}

.button {
    position: absolute;
    bottom: 200px;
    padding: 0 10vw;
}

.button a {
    padding: 20px 50px;
    background: #fff;
    color: #000;
    box-shadow: 0px 0px 0px inset #eee;
    transition: .5s;
}

.button a:hover {
    box-shadow: 200px 0px 0px inset rgba(4, 4, 68, 1);
    transition: .5s;
    color: #fff;
}

@media (max-width: 600px) {
    .episode__content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .episode__content .story {
        font-size: 15px;
    }
}
