/* Please â¤ this if you like it! */

@import url("//fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rubik&display=swap");

* {
    box-sizing: border-box;
    outline: none;
}



.waper {
    width: 100%;
    min-width: 1180px;
    position: relative;
    height: auto;
}

.btn10 {
    padding: 20px 61px;
    background: #fff;
    position: absolute;
    left: 15%;
    bottom: 35%;
    transition: .5s;
    box-shadow: 0px 0px 0px inset #eee;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.btn10:hover {
    box-shadow: 200px 0px 0px inset rgba(4, 4, 68, 1);
    transition: .5s;
    color: #fff;
}

.btn9 {
    padding: 20px 61px;
    background: #fff;
    position: absolute;
    right: 15%;
    bottom: 35%;
    transition: .5s;
    box-shadow: 0px 0px 0px inset #eee;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.btn9:hover {
    box-shadow: 200px 0px 0px inset rgba(4, 4, 68, 1);
    transition: .5s;
    color: #fff;
}

.modal,
.modal1,
.modal2 {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1112;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0, 0, 0, .5);
}

.modal-backdrop,
.modal-backdrop1,
.modal-backdrop2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    pointer-events: none;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop1.fade1 {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop2.fade2 {
    opacity: 0;
    filter: alpha(opacity=0);
}

.fade1,
.fade2 {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade1.in {
    opacity: 1;
}

.fade2.in {
    opacity: 1;
}

.modal-backdrop1.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-backdrop2.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-open,
.modal-open1,
.modal-open2 {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-open1 .modal1 {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-open2 .modal2 {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog,
.modal-dialog1,
.modal-dialog2 {
    position: relative;
    width: auto;
    margin: 60px;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal1.fade1 .modal-dialog1 {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal2.fade2 .modal-dialog2 {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    transition-delay: 0.2s;
}

.modal1.in .modal-dialog1 {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    transition-delay: 0.2s;
}

.modal2.in .modal-dialog2 {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    transition-delay: 0.2s;
}

.modal-content,
.modal-content1,
.modal-content2 {
    position: relative;
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 6px;
    background-clip: padding-box;
    outline: 0;
}

.modal-body p {
    line-height: 28px;
}

.modal-body1 p {
    line-height: 28px;
}

.modal-body2 p {
    line-height: 28px;
}

.modal-header,
.modal-header1,
.modal-header2 {
    padding: 15px;
}

.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.modal-header1:before,
.modal-header1:after,
.modal-footer1:before,
.modal-footer1:after {
    content: " ";
    display: table;
}

.modal-header2:before,
.modal-header2:after,
.modal-footer2:before,
.modal-footer2:after {
    content: " ";
    display: table;
}

.modal-header:after,
.modal-footer:after {
    clear: both;
}

.modal-header1:after,
.modal-footer1:after {
    clear: both;
}

.modal-header2:after,
.modal-footer2:after {
    clear: both;
}

.close,
.close1,
.close2 {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    font-family: inherit;
}

button.close1 {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    font-family: inherit;
}

button.close2 {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    font-family: inherit;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header .close {
    margin-top: -2px;
    margin-left: 10px;
}

.modal-header1 .close1 {
    margin-top: -2px;
    margin-left: 10px;
}

.modal-header2 .close2 {
    margin-top: -2px;
    margin-left: 10px;
}

.modal-title,
.modal-title1,
.modal-title2 {
    margin: 0;
    line-height: 1.42857143;
    color: inherit;
    font-size: 18px;
    font-weight: normal;
}

.modal-body,
.modal-body1,
.modal-body2 {
    position: relative;
    padding: 15px;
    font-family: "Rubik", sans-serif;
}

#driver-terms-modal .modal-body {
    height: 600px;
    overflow: scroll;
}

#driver-terms-modal1 .modal-body1 {
    height: 600px;
    overflow: scroll;
}

#driver-terms-modal1 .modal-body2 {
    height: 600px;
    overflow: scroll;
}

.modal-footer,
.modal-footer1,
.modal-footer2 {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal .btn,
.modal1 .btn,
.modal2 .btn2 {
    font-family: inherit;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.modal1 .btn-default1 {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.modal2 .btn-default2 {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.modal .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none;
}

.modal .btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.modal .btn:active,
.modal .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.modal .btn:focus,
.modal .btn:active:focus,
.modal .btn.active:focus,
.modal .btn.focus,
.modal .btn:active.focus,
.modal .btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.modal .btn-default:active,
.modal .btn-default.active,
.modal .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.modal .btn-default:active,
.modal .btn-default.active,
.modal .open > .dropdown-toggle.btn-default {
    background-image: none;
}

.contens,
.contens1,
.contens2 {
    width: 100%;
    max-width: 1920px;
    min-width: 1180px;
    padding: 30vh 14vw 0;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 15rem;
}

.contens .context {
    width: 50%;
    color: #fff;
    padding-bottom: 100px;

}

.contens1 .context1 {
    width: 50%;
    color: #fff;
    padding-bottom: 200px;

}

.contens2 .context2 {
    width: 50%;
    color: #fff;
    padding-bottom: 100px;

}

.contens .contextright {
    padding-top: 100px;
    width: 80%;
    float: right;
    padding-bottom: 100px;
    padding-top: 200px;
}

.contens1 .contextright1 {
    display: inline-block;
    text-align: right;
    padding-top: 134px;
    width: 41%;
    max-width: 626px;
    box-sizing: border-box;
}

.contens2 .contextright2 {
    max-width: 626px;
    box-sizing: border-box;
    width: 50%;
    float: right;    padding-top: 300px;
}

.contens .context h2 {
    font-size: 50px;
    line-height: 150px;
    text-shadow: 4px 3px 10px #000;
}

.contens1 .context1 h2 {
    font-size: 50px;
    line-height: 150px;
    text-shadow: 4px 3px 10px #000;
}

.contens2 .context2 h2 {
    font-size: 50px;
    line-height: 150px;
    text-shadow: 4px 3px 10px #000;
}

.contens .contextright p {
    text-align: right;
    padding-bottom: 100px;
}

.contens1 .contextright1 p {
    text-align: right;
    padding-bottom: 100px;
    color: #fff;

}

.contens2 .contextright2 p

{
    text-align: left;
    color: #fff;
}
.contens2 .contextright2 h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;text-align:left;
    padding-bottom: 20px;
}
#modal img {
    display: block;
    width: 100%;
    height: auto;
}

.contens p {
    color: #fff;
    font-size: 25px;
    line-height: 39px;
}

.contens .imgbx {
    position: relative;
}

.contens1 .imgbx {
    position: relative;
    padding-top: 100px;
}

.contens .imgbx .img01 {
    display: inline-block;
    background: url(../img/nexus1.jpg)no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;
}

.contens .imgbx .img02 {
    display: inline-block;
    float: right;
    background: url(../img/nexus2.jpg)no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;
}

.contens .imgbx .img03 {
    background: url(../img/Nexons.jpg)no-repeat;
    background-size: cover;
    text-align: center;
    display: block;
    width: 100%;
}

.contens1 .imgbx .img04 {
    display: inline-block;
    float: right;
    background: url(../img/visua.jpg)no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;
}

.contens .imgbx .img1 span {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    vertical-align: top;
    padding-top: 200px;
    text-align: right;
    line-height: 39px;
    font-size: 28px;
    float: right;
}

.contens1 .imgbx .img1 span {
    display: inline-block;
    color: #fff;
    text-align: left;
    padding-top: 148px;
    line-height: 39px;
    width: 50%;
    max-width: 626px;
    box-sizing: border-box;
}

.contens .imgbx .img2 span {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    text-align: left;
    padding-top: 200px;
    line-height: 39px;
    font-size: 28px;
}

.imgbx2 {
    width: 100%;
}

.conimg {
    width: 50%;
    max-width: 626px;
    float: left;
}

.conimg img {
    width: 100%;
}

.btn0 {
    padding: 20px 61px;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 27%;
    transition: .5s;
    box-shadow: 0px 0px 0px inset #eee;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.btn0:hover {
    box-shadow: 200px 0px 0px inset rgba(4, 4, 68, 1);
    transition: .5s;
    color: #fff;
}

.btn1 {
    padding: 20px 61px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -7%;
    transition: .5s;
    box-shadow: 0px 0px 0px inset #eee;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.btn1:hover {
    box-shadow: 200px 0px 0px inset rgba(4, 4, 68, 1);
    transition: .5s;
    color: #fff;
}

.contenlast {
    padding-top: 350px;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 58px;
}
.contenlast2 {
    padding-top: 950px;
    width: 80%;
    text-align: left;
    margin: 0 auto;    padding-bottom: 63px;
}
.contenlast h3,
.contenlast2 h3
{
    color: #fff;
    font-size: 19px;
        line-height: 28px;
}

.img11 {
    margin: 0 auto;
    text-align: center;
}

.img11 img {
    display: block;
    width: 100%;
    height: 500px;
}

.img11 span {
    padding: 16px;
    font-size: 17px;
    color: #eee;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.slide {
    width: 100%;
    height: 100vh;
    min-width: 1180px;
    margin: 0 auto;
    position: relative;
}

.imgb {
    content: "";
    background: url(../img/black-and-white-city-man-people.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: block;
}

.imgc {
    content: "";
    background: url(../img/company.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: block;
}

.imgd {
    content: "";
    background: url(../img/01_nncompany_1_Company_introduction.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: block;
}

.textbx {
    padding: 0 15vw;
    text-align: left;
    color: #fff;
    padding-top: 14%;
    min-width: 1180px;
}

.textbx h1 {
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 30px;
    font-family: 'Montserrat-Bold';
}

.textbx h2 {
    font-size: 70px;
    padding-bottom: 30px;
    font-family: 'NEXON Lv2 Gothic OTF';
}

.textbx p {
    font-size: 17px;
    font-family: 'NEXON Lv2 Gothic OTF';
    color: #fff;
    line-height: 33px;
}

.textbx1 {
    padding: 0 15vw;
    text-align: right;
    color: #fff;
    padding-top: 14%;
    min-width: 1180px;
}

.textbx1 h1 {
    font-size: 70px;
    padding-bottom: 30px;
    font-family: 'NEXON Lv2 Gothic OTF';
}

.textbx1 p {
    font-size: 17px;
    font-family: 'NEXON Lv2 Gothic OTF';
    color: #fff;
    line-height: 33px;
}

/*
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}*/
