*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
body {
  background-color: #1b1b1d;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 1rem;
}

body:after {
    content: '';
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    pointer-events: none;
    opacity: 0.2;
    filter: invert(1);
    background-size: cover;
}*/
    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
#quote {
  --weight: 10;
  font-family: 'Marvin Visions Variable';
  font-size: 6.5rem;
  font-weight: 170;
  background-size: contain;
  line-height: 0.8;
  margin: 0;
  text-align: left;
    font-family: 'Marvin Visions Variable';
}

#quote > * {
  color: hsl(347, 7%, 29%);
  font-variation-settings: 'wght' var(--weight);
    font-family: 'Marvin Visions Variable';
}
.grid {
  grid-template-columns: repeat(3, 1fr);
}
.btn-shine {
    color: #ffffff;
    /*    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);*/
    background-position: 0;
    -webkit-background-clip: text;
    /*    -webkit-text-fill-color: transparent;*/
    /*  animation: shine 3s infinite linear;*/
    /*    animation-fill-mode: forwards;*/
    -webkit-text-size-adjust: none;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

body {
    font-family: 'NEXON Lv2 Gothic OTF Medium';
    line-height: 1.7;
    color: #1f2029;
    background-color: #fff;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 101%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-family: 'NEXON Lv2 Gothic OTF Medium';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #1f2029;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /*    text-align: center;*/
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.section {
    position: relative;
    width: 100%;
    display: block;
    min-width: 1180px;
    overflow: hidden;
}

.full-height {
    width: 100%;
    min-height: 100vh;
    background: url(../img/black-and-white-city-man-people.jpg)0 62% no-repeat;
    background-size: cover;

}

.textbx {
    padding: 0 15vw;
    text-align: left;
    color: #fff;
    margin-top: 14%;
    min-width: 1180px;
}

.textbx h1 {
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 30px;
    font-family: 'Montserrat-Bold';
}

.textbx p {
    font-size: 17px;
    font-family: 'NEXON Lv2 Gothic OTF';
    color: #fff;
    line-height: 33px;
}



[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.modal-btn:checked + label,
.modal-btn:not(:checked) + label {
    position: absolute;
    top: 70%;
    left: 15%;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    height: 50px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 240px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: #102770;
    color: #ffeba7;
    line-height: 47px;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.modal-btn {
    position: absolute;
    top: 70%;
    left: 15%;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    height: 50px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 240px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: #102770;
    color: #ffeba7;
    line-height: 47px;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}
.modal-btn:hover {
    background-color: #ffeba7;
    color: #102770;
}
.modal-btn:not(:checked) + label:hover {
    background-color: #ffeba7;
    color: #102770;
}

.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil {
    margin-left: 10px;
    font-size: 18px;
}

.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after {
    position: fixed;
    top: 56px;
    right: 82px;
    z-index: 1110;
    width: 40px;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    background-color: #ffeba7;
    color: #102770;
    content: '\f00d';
    font-family: FontAwesome;
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after {
    background-color: #102770;
    color: #ffeba7;
}

.modal-btn:checked + label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal {
    position: fixed;
    display: block;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
    pointer-events: none;
    opacity: 1;
    transition: opacity 250ms 700ms ease;
}
.modal-btn .modal.hover {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}
.modal-btn:checked ~ .modal {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-wrap {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow-y: initial !important;
    background-color: rgba(31, 32, 41, .75);
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.contens {
    width: 60%;
    min-width: 1180px;

    margin: 0 auto;
    overflow: hidden;
    padding-top: 15rem;
}

.contens .context {
    width: 50%;
    color: #fff;
    padding-bottom: 100px;

}

.contens .contextright {
    padding-top: 100px;
    width: 80%;
    float: right;
    padding-bottom: 100px;
    padding-top: 200px;
}

.contens .context h2 {
    font-size: 50px;
    line-height: 150px;
    text-shadow: 4px 3px 10px #000;
}

.contens .contextright p {
    text-align: right;
    padding-bottom: 100px;
}

.modal-wrap img {
    display: block;
    width: 100%;
    height: auto;
}

.modal-wrap p {
    color: #fff;
    font-size: 25px;
    line-height: 39px;
}

.modal-btn:checked ~ .modal .modal-wrap {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.contens .imgbx {
    position: relative;
}

.contens .imgbx .img01 {
    display: inline-block;
    background: url(../img/nexus1.jpg)no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;
}

.contens .imgbx .img02 {
    display: inline-block;
    float: right;
    background: url(../img/nexus2.jpg)no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;
}

.contens .imgbx .img03 {
    background: url(../img/Nexons.jpg)no-repeat;
    background-size: cover;
    text-align: center;
    display: block;
    width: 100%;
}

.contens .imgbx .img1 span {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    vertical-align: top;
    padding-top: 200px;
    text-align: right;
    line-height: 39px;
    font-size: 28px;
    float: right;
}

.contens .imgbx .img2 span {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    text-align: left;
    padding-top: 200px;
    line-height: 39px;
    font-size: 28px;
}

.btn {
    padding: 20px 61px;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 35%;
    transition: .5s;
    box-shadow: 0px 0px 0px inset #eee;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 200px 0px 0px inset rgba(4, 4, 68, 1);
    transition: .5s;
    color: #fff;
}

.btn1 {
    padding: 20px 61px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -7%;
    transition: .5s;
    box-shadow: 0px 0px 0px inset #eee;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.btn1:hover {
    box-shadow: 200px 0px 0px inset rgba(4, 4, 68, 1);
    transition: .5s;
    color: #fff;
}

.contenlast {
    padding-top: 500px;
    padding-bottom: 150px;
    width: 80%;
    text-align: left;
    margin: 0 auto;
}

.contenlast h3 {
    color: #fff;
    font-size: 25px;
}

.img11 {
    margin: 0 auto;
    text-align: center;
}

.img11 span {
    padding: 16px;
    font-size: 17px;
    color: #eee;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

@media screen and (max-width: 500px) {
    .modal-wrap {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }

    .modal-wrap p {
        padding: 15px 20px 0 20px;
    }
}
