body {
    background: #000;

}

.container {
    width: 100%;
    min-width: 1180px;
    overflow: hidden;
    position: relative;
    height: auto;
}

.textbx {
    width: 100%;
    height: 100vh;
    position: relative;
    min-width: 1180px;
    padding: 0 10vw;
}

.textbx h2 {
    color: #fff;
    font-size: 3vw;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.conten {
    min-width: 1180px;
    padding: 0 10vw;
    width: 100%;
    margin: 0 auto;
    padding-top: 300px;
    position: relative;
    height: auto;
    text-align: center;
    overflow: hidden;
}

.conten .bx1 {
    width: 25%;
    /*    height: 800px;*/
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
}

.conten .bx0 {
    transform: translateY(20%);
    margin: auto 81px;
}

.bx1 img {
    object-fit: cover;
    width: 100%;
    height: auto;
    filter: brightness(60%);
    transition: all .5s linear;
}

.bx1:hover img {
    filter: brightness(30%);
    transition: filter .5s linear;
}

.bx1:before {
    content: "\f06a";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.back {
    background: url(../img/fifa19-hero-medium-tophero-7x2-xl.png.adapt.crop16x9.320w.png)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.logo_g {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: all .3s;

}

.logo01 {
    background: url(../img/ms_home_logo.png)50% 50% no-repeat;
    background-size: 55%;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo1 {
    background: url(../img/fifa.png)50% 50% no-repeat;
    background-size: 67%;
    height: 69px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo2 {
    background: url(../img/dflogo.png)50% 50% no-repeat;
    background-size: 48%;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo3 {
    background: url(../img/katlogo.png)50% 50% no-repeat;
    background-size: 51%;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo4 {
    background: url(../img/img-nexus-logo.png)50% 50% no-repeat;
    background-size: 51%;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo5 {
    background: url(../img/bnb.png)50% 50% no-repeat;
    background-size: 32%;
    height: 141px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo6 {
    background: url(../img/sudden.png) 50% 50% no-repeat;
    background-size: 60%;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo7 {
    background: url(../img/Maplestory_2_Logo.png)50% 50% no-repeat;
    background-size: 52%;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo7 {
    background: url(../img/Maplestory_2_Logo.png)50% 50% no-repeat;
    background-size: 52%;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo8 {
    background: url(../img/ovlogo.png)50% 50% no-repeat;
    background-size: 52%;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bx1:hover .logo_g {
  transform: translate(-50%, -100%);
    transition: all .3s;
}

.bx1:hover .logo1 {
   transform: translate(-50%, -100%);
    transition: all .3s;
}

.bx1:hover .logo2 {
    transform: translate(-50%, -100%);
    transition: all .3s;
}

.bx1:hover .logo3 {
   transform: translate(-50%, -100%);
    transition: all .3s;
}

.bx1:hover .logo4 {
   transform: translate(-50%, -100%);
    transition: all .3s;
}

.bx1:hover .logo5 {
 transform: translate(-50%, -100%);
    transition: all .3s;
}

.bx1:hover .hover {
    top: 55%;
    opacity: 1;
    transition: all .3s;
}

.hover {
    position: absolute;
    top: 66%;
    padding: 0 5vw;
    height: 50px;
    opacity: 0;
    transition: all .5s;    width: 100%;
}

.ho1 {
    margin-top: 35px;
}

.hover p {
    color: #fff;
    font-size: 1vw;
    text-align: center;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, .5);
}

.btn {
    padding: 20px 61px;
    background: #fff;
    z-index: 1;
    transition: .5s;
    box-shadow: 0px 0px 0px inset #eee;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 200px 0px 0px inset rgba(4, 4, 68, 1);
    transition: .5s;
    color: #fff;
}

@media (max-width:1400px) {
    .container {
        min-width: auto;
    }
    .btn {
    padding: 11px 39px;
    }
}
