.container {
    width: 100%;
    min-width: 1180px;
    overflow: hidden;
    position: relative;
    height: auto;
}

section {
    min-width: 1180px;
    margin: 0 auto;
}

.conimg {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../img/compuny.jpg)no-repeat;
    background-size: cover;
}

.conimg h2 {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 150px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 24px;
    height: 24px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -20px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px) rotate(45deg);
        opacity: 0;
    }
}

.section1 {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
}

.section1 .con1 {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.section1 .se1textbx {
    max-width: 1920px;
    display: inline-block;
    margin: auto;
    box-sizing: border-box;
    padding: 0 10vw;
}

.section1 .textbx {
    display: inline-block;
    padding-top: 350px;
    text-align: left;
    /*    margin-left: 61%;*/
}

.section1 .textbx h2 {
    font-size: 6vh;
    line-height: 69px;
}

.section1 .textbx p {
    padding-top: 20px;
    font-size: 2vh;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'NEXON Lv2 Gothic OTF';
    line-height: 35px;
}

.imgbx {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}

.img10 {
    display: inline-block;
    height: 100%;
    width: 100%;
    background: url(../img/dfdf.png)no-repeat;
    background-size: contain;
    animation: fade_move_up 5s infinite;
}

@keyframes fade_move_up {
    0% {
        transform: translate(0px, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(-60px, 0);
        opacity: 0;
    }
}

.section2 {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #000;
    overflow: hidden;
}

.section2 .se1 {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    /*    max-width: 1920px;*/
    min-height: 1080px;
}

.section2 .con2 {
    background: url(../img/Background0.png)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    min-height: 1080px;
}

.section2 .con2:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 200px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0));
    z-index: 3;
}

.section2 .con2:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 200px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1));
    z-index: 1;
}

.section2 .textbx22 {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding: 0 10vw;
}

.section2 .textbx2 {
    display: inline-block;
    padding-top: 350px;
    text-align: right;
    margin-left: 61%;
}

.section2 .textbx2 h2 {
    color: #fff;
    font-size: 7vh;
    font-weight: bold;
    font-family: 'Montserrat-Bold';
}

.section2 .textbx2 p {
    padding-top: 20px;
    font-size: 2vh;
    color: #fff;
    line-height: 41px;
}

.section3 {
    width: 100%;
    height: 150vh;
    position: relative;
    min-width: 1180px;
    overflow: hidden;
}

.textbx3 {
        max-width: 1920px;
    display: inline-block;
    margin: auto;
    box-sizing: border-box;
    padding: 0 18vw;
    padding-top: 216px;
}

.textbx3 h2 {
    font-size: 6vh;
    font-weight: bold;
    padding-bottom: 20px;
}

.textbx3 p {
    font-size: 2.5vh;
    line-height: 30px;
}

/* SLIDER
=========================== */
.swiper-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    padding: 50px 0;
}

.swiper-wrapper {
    transition-delay: .5s;
}

.swiper-slide {
    width: 800px;
    height: 500px;
}

.swiper-slide:nth-child(1) .slide-img {
    background-image: url('../img/company.jpg');
}

.swiper-slide:nth-child(2) .slide-img {
    background-image: url('../img/7.jpg');
}

.swiper-slide:nth-child(3) .slide-img {
    background-image: url('../img/iie5.jpg');
}

.swiper-slide:nth-child(4) .slide-img {
    background-image: url('../img/fifamain.png');
}

.swiper-slide:nth-child(5) .slide-img {
    background-image: url('../img/Nexons.jpg');
}

.slide-img {
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide-img::after {
    content: '';
    width: 100%;
    height: 100%;
    /*  background-image: linear-gradient( 0deg, rgb(195,20,50) 0%, rgb(204,18,26) 100%);*/
    mix-blend-mode: multiply;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease-in-out;
}

.slide-img:hover::after {
    opacity: .5;
}

.slide-number {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1;
    width: 117px;
    height: 100px;
    overflow: hidden;
}

.slide-number p {
    font-size: 60px;
    color: #ecbb1b;
    position: relative;
}

.slide-number p span {
    position: absolute;
}

.slide-text {
    position: absolute;
    bottom: -30px;
    left: 50px;
    z-index: 1;
    width: 311px;
    height: 100px;
    overflow: hidden;
    text-transform: uppercase;
}

.slide-text h4 {
    color: #fff;
    font-size: 40px;
    position: relative;
}

.slide-text h4 span {
    position: absolute;
}

@-webkit-keyframes scale {
    0% {
        transform: scale(1.15);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes scale {
    0% {
        transform: scale(1.15);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

.section4 {
    width: 100%;
    height: 200vh;
    position: relative;
    min-width: 1180px;
}
.section4 .textbx{
        margin: 0 auto;
    max-width: 1500px;
}
.section4  h1 {
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    margin: auto;
    box-sizing: border-box;
    padding-top: 216px;
    padding-bottom: 100px;
}

.section4 .se4 {
    margin: 0 auto;
    position: relative;
    padding-bottom: 100px;
}

.se4 li {
    display: inline-block;
    padding: 0 4vw;
    text-align: left;
    position: relative;
    color: #cfcfcf;
    cursor: pointer;
}

.se4 li.hover h3 {

    color: #111;
    z-index: 2;
}
.se4 li.hover p {

    color: #111;
    z-index: 2;
}
.se4 li:hover {
    color: #111;
    transition: all .5s;
}

.se4 li h3 {
    font-size: 35px;
    padding-bottom: 20px;
}

.se4 span {
    color: #004c98;

}

.se4 p {
    padding-top: 20px;
}
.video4{
    padding: 0 10vw;
    min-width: 1180px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
/*    padding-top: 100px;*/
    opacity: 0;
    z-index: 0;
}
.video4.hover{
    opacity: 1;
    z-index: 1;
}
@media screen and (max-width:1400px) {
    .container {
        min-width: auto;
    }

    section {
        min-width: auto;
    }

    .section1 .con1 {
        width: 100%;
    }

    .section1 .textbx {
        padding-left: 110px;
        padding-top: 392px;
    }

    .section1 .textbx h2 {
        font-size: 5vh;
        line-height: 54px;
    }

    .section1 .textbx p {
        font-size: 2vh;
    }

    .img10 {
        background-size: contain;
        background-position: 0 50%;
    }

    .section2 .se1 {
        width: 100%;
    }

    .section2 .con2 {
        width: 100%;
    }

    .section2 .textbx2 h2 {
        font-size: 5vh;
    }

    .section2 .textbx2 p {
        font-size: 2vh;
        line-height: 30px;
    }
}

@media screen and (max-width:768px) {
    .img10 {
        animation: none;
    }

    .section1 .textbx p {
        font-size: 1.3vh;
    }

    .section1 .textbx h2 {
        font-size: 3vh;
        line-height: 33px;
    }

    .section1 .textbx {
        width: 100%;
        padding-top: 101px;
        padding-left: 0;
        text-align: center;
    }

    .section1 .textbx p {
        line-height: 20px;
    }

    .imgbx {
        width: 100%;
    }
}
